<main>
  <div class="container">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-md-12 offset-md-4">
        <h1>新規会員登録</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <label for="user_name">名前</label><br>
            <%= f.label :（姓） %><%= f.text_field :first_name %><%= f.label :（名）%><%= f.text_field :last_name %>
          </div>
          
          <div class="form-group">
            <label for="user_nickname">ニックネーム</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <%= f.text_field :nickname %>
          </div>
          
          <div class="form-group">
            <label for="user_email">メールアドレス</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <%= f.email_field :email %>
          </div>
          
          <div class="form-group">
            <label for="user_password">パスワード</label>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>&emsp;&emsp;
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="form-group">
            <label for="user_email">パスワード（再確認）</label>&emsp;&emsp;&emsp;
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="form-group">
            <%= f.submit "新規登録", class: "button_custom btn btn-success center-block" %>
          </div>
        <% end %>
        <div>すでに登録済みの方は<%= render "devise/shared/links" %>からログインしてください</div>
      </div>
    </div>
  </div>
</main>