<main>
  <div class="container">
    <%= render 'recipes/error', model: @recipe %>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
        <h1><%= @recipe.name %>を編集する</h1>
        <%= form_with model:@recipe, url: recipe_path(@recipe), local:true do |f| %>
          <div class="form-group">
            <label for="recipe_image">レシピ画像</label>
            <%= f.attachment_field:image %>
          </div>

          <div class="form-group">
            <label for="recipe_name">レシピ名</label>
            <%= f.text_field:name, size: "40" %>
          </div>
          <!--text_areaはtext_fieldのサイズ変更-->
          <div class="form-group">
            <label for="recipe_description">レシピ説明</label>
            <%= f.text_area :description, class:"form-control description" %>
          </div>

          <div class="form-group">
            <label for="recipe_procedure">レシピ説明（調理手順）</label>
            <%= f.text_area :procedure, class:"form-control procedure" %>
          </div>

          <div class="form-group">
            <label for="recipe_ingredients">材料</label>
            <%= f.text_area:ingredients, class:"form-control ingredients" %>
          </div>

          <div class="form-group">
            <label for="recipe_calories">カロリー</label>
            &emsp;&emsp;<%= f.text_field:calories %>kcal
          </div>

          <div class="form-group">
            <label for="recipe_cost">材料費</label>
            &emsp;&emsp;&emsp;<%= f.text_field:cost %>円
          </div>

          <div class="form-group">
            <%= f.submit '変更を保存する' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

