<div class='container px-5 px-sm-0'>
  <div class='row'>
      <h1>レシピ一覧(全<%= @recipes.count %>件)</h1>&emsp;
      <h2><%= link_to '＋新規レシピ登録', new_recipe_path, class: "btn btn-sm btn btn-primary" %></h2>
      <table class="table border border-dark">
        <thead>
          <tr>
            <th>&emsp;&emsp;写真</th>
            <th>&emsp;説明</th>
            <th>&emsp;材料</th>
            <th>&emsp;詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%= link_to recipe_path(recipe.id) do %>
                  <%= attachment_image_tag recipe, :image, :fill, 150, 150 %>
                <% end %>
                <p class="text-danger"><%= link_to recipe.name, recipe_path(recipe.id), class: "btn btn-sm btn btn-outline-primary" %>
                <!--いいね数表示-->
                  <%= recipe.favorites.count %><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                </p>
              </td>
              <td width="20%"><%= recipe.description %></td>
              <td><%= recipe.ingredients %></td>
              <!--tableで幅や高さを変えるには<td width="80" height="100">80×100</td>-->
              <td width="15%"><%= link_to 'レシピ詳細', recipe_path(recipe), class: "btn btn-sm btn btn-outline-primary recipe_#{recipe.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <!--kaminariで１０件表示 -->
        <%= paginate @recipes %>
      </div>
  </div>
</div>