<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-11 offset-md-1">
      <!--レシピ詳細を表示-->
      <h2><%= @recipe.name %>のレシピ詳細</h2>
      <% if @recipe.user.id == current_user.id %>
        <%= link_to 'このレシピを編集する', edit_recipe_path(@recipe), class: "btn btn-sm btn-success edit_recipe_#{@recipe.id}" %>
        <%= link_to 'このレシピを削除する',recipe_path(@recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_recipe_#{@recipe.id}"%>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿日時</th>
            <th>カロリー数</th>
            <th>材料費</th>
            <th>ユーザーレシピ投稿一覧</th>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.nickname %></td>
              <td><%= @recipe.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= @recipe.calories %>kcal</td>
              <td><%= @recipe.cost %>円</td>
              <td><%#= link_to 'レシピ投稿詳細', recipes_path %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @recipe, :image, :fill, 300, 300 %>
    </div>
    <div class="col-md-3">
      <%= @recipe.description %>
      <%= @recipe.ingredients %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= @recipe.procedure %>
  </div>
</div>