<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--レシピ詳細を表示-->
      <h2><%= @recipe.name %>の詳細</h2>
      <% if user_signed_in? %>
        <% if @recipe.user.id == current_user.id %>
          <%= link_to 'このレシピを編集する', edit_recipe_path(@recipe), class: "btn btn-sm btn-success edit_recipe_#{@recipe.id}" %>
          <%= link_to 'このレシピを削除する',recipe_path(@recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_recipe_#{@recipe.id}"%>
        <% end %>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿日時</th>
            <th>カロリー数</th>
            <th>材料費</th>
            <th>いいね</th>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to @user.nickname, user_path(@user), class: "btn btn-sm btn btn-outline-primary user_#{@user.id}" %></td>
              <td><%= @recipe.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= @recipe.calories %>kcal</td>
              <td><%= @recipe.cost %>円</td>
                <td>
                  <% if user_signed_in? %>
                  <!--いいね機能-->
                    <% if @recipe.favorited_by?(current_user) %>
                      <%= link_to recipe_favorites_path(@recipe), class: "btn btn-sm btn btn-outline-primary", method: :delete do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= @recipe.favorites.count %>like
                      <% end %>
                    <% else %>
                      <%= link_to recipe_favorites_path(@recipe), class: "btn btn-sm btn btn-outline-danger", method: :post do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <%= @recipe.favorites.count %>like
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= @recipe.favorites.count %>like
                  <% end %>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><%= @recipe.name %>の説明</h3>
      <%= @recipe.description %>
    </div>
    <div class="col-md-6">
      <h3><%= @recipe.name %>の材料</h3>
      <%= @recipe.ingredients %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <%= attachment_image_tag @recipe, :image, :fill, 300, 300 %>
    <div class="col-md-8">
      <h3><%= @recipe.name %>の調理手順</h3>
      <%= @recipe.procedure %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render 'recipe_comments/error', model: @recipe_comment %>
  </div>
</div>
<!--<div class="container">-->
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-1 offset-md-1">
        <%= form_with model:[@recipe,@recipe_comment], local: true do |f| %>
          <%= f.text_area :comment, :placeholder => "このレシピにコメントする", size:"25x5" %><br>
          <%= f.submit '送信'%>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-8 offset-md-1">
      <table class="table table-hover table-inverse">
        <tbody>
          <div class="card-list-container pt-6row">
          <h3><%= @recipe.name %>のコメント一覧(全<%= @recipe.recipe_comments.count %>件)</h3>
            <% @recipe.recipe_comments.each do |recipe_comment| %>
              <% recipe_comment_user = recipe_comment.user %>
                <td>
              		<%= link_to user_path(recipe_comment_user), class: "btn btn-sm btn btn-outline-primary user_#{recipe_comment_user.id}" do %>
                		<%= recipe_comment.user.nickname %>
              		<% end %>
    	            <p><%= recipe_comment.comment %></p>
                  <p><% if current_user == recipe_comment_user %>
                    	 <%= link_to 'Destroy', recipe_recipe_comment_path(recipe_comment.recipe_id, recipe_comment.id), class: 'btn-sm btn-danger', method: :delete %>
                  	 <% end %>
                  </p>
    	          </td>
            <% end %>
          </div>
        </tbody>
      </table>
      <div>
        <!--kaminariで3件表示 -->
        <%= paginate @recipe_comments %>
      </div>
    </div>
  </div>
<!--</div>-->