<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-11 offset-md-1">
      <!--レシピ詳細を表示-->
      <h2><%= @recipe.name %>のレシピ詳細</h2>
      <% if @recipe.user.id == current_user.id %>
        <%= link_to 'このレシピを編集する', edit_recipe_path(@recipe), class: "btn btn-sm btn-success edit_recipe_#{@recipe.id}" %>
        <%= link_to 'このレシピを削除する',recipe_path(@recipe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_recipe_#{@recipe.id}"%>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿日時</th>
            <th>カロリー数</th>
            <th>材料費</th>
            <th>いいね</th>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to @user.nickname, user_path(@user), class: "user_#{@user.id}" %></td>
              <td><%= @recipe.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= @recipe.calories %>kcal</td>
              <td><%= @recipe.cost %>円</td>
              <td>
                  <% if @recipe.favorited_by?(current_user) %>
                    <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= @recipe.favorites.count %>like
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favorites_path(@recipe), method: :post do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <%= @recipe.favorites.count %>like
                    <% end %>
                  <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @recipe, :image, :fill, 300, 300 %>
    </div>
    <div class="col-md-3">
      <%= @recipe.description %>
      <%= @recipe.ingredients %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= @recipe.procedure %>
  </div>
</div>
<table>
  <% @recipe.recipe_comments.each do |recipe_comment| %>
    <% recipe_comment_user = recipe_comment.user %>
    <tr>
    	<td>
    		<%= link_to user_path(recipe_comment_user), class: "user_#{recipe_comment_user.id}" do %>
      		<%= recipe_comment.user.nickname %>
    		<% end %>
    	</td>
    	<td><%= recipe_comment.comment %></td>
    	<% if current_user == recipe_comment_user %>
      	<td><%= link_to 'Destroy', recipe_recipe_comment_path(recipe_comment.recipe_id, recipe_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
    	<% end %>
    </tr>
  <% end %>
</table>
<%= form_with model:[@recipe,@recipe_comment], local: true do |f| %>
  <%= f.text_area :comment, size:"30x5" %><br>
  <%= f.submit '送信'%>
<% end %>