<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--ユーザー一覧を表示-->
      <h1>ユーザーの"<%= @content %>"さんで検索(全<%= @users.count %>人)</h1>
      <% if user_signed_in? %>
        <% if @user.id == current_user.id %>
          <%= link_to 'マイページを確認する', user_path(@user), class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>&emsp;ニックネーム</th>
            <th>&emsp;レシピ投稿数</th>
            <th>&emsp;フォロー数</th>
            <th>&emsp;フォロワー数</th>
            <th>&emsp;ユーザー詳細</th>
          </thead>
          <tbody>
          <!--ユーザー情報を表示-->
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.nickname, user_path(user), class: "btn btn-sm btn btn-outline-primary user_#{user.id}" %></td>
              <td>&emsp;&emsp;<%= user.recipes.count %></td>
              <td>&emsp;&emsp;&emsp;<%= user.followings.count %></td>
              <td>&emsp;&emsp;<%= user.followers.count %></td>
              <td><%= link_to 'ユーザー詳細', user_path(user), class: "btn btn-sm btn btn-outline-primary user_#{user.id}" %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
      <div>
        <!--kaminariで１０件表示 -->
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
