<main>
  <div class="container">
    <%= render 'users/error', model: @user %>
    <div class="row">
      <div class="col-md-12 offset-md-3">
        <h1>マイページを編集する</h1>
        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
            <label for="user_name">名前</label><br>
            <%= f.label :（姓） %><%= f.text_field :first_name %><%= f.label :（名）%><%= f.text_field :last_name %>
          </div>
          
          <div class="form-group">
            <label for="user_nickname">ニックネーム</label>&emsp;&emsp;&emsp;&emsp;
            <%= f.text_field :nickname %>
          </div>
          
          <div class="form-group">
            <label for="user_email">メールアドレス</label>&emsp;&emsp;&emsp;
            <%= f.email_field :email %>
          </div>
        
          <div class="form-group">
            <%= f.submit '変更を保存' %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-sm btn btn-outline-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

