<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--ユーザー一覧を表示-->
      <h2>ユーザー一覧</h2>
        <% if @user.id == current_user.id %>
          <%= link_to 'マイページを確認する', user_path(@user), class: "btn btn-sm btn-success" %>
        <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿数</th>
            <th>フォロワー数</th>
            <th>フォロワー一覧</th>
            <th>ユーザー詳細</th>
          </thead>
          <tbody>
          <!--ユーザー情報を表示-->
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.nickname, user_path(user), class: "btn btn-sm btn btn-outline-primary user_#{user.id}" %></td>
              <td><%= user.recipes.count %></td>
              <td><%= @user.followers.count %></td>
              <td></td>
              <td><%= link_to 'ユーザー詳細', user_path(user), class: "btn btn-sm btn btn-outline-primary user_#{user.id}" %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
      <div>
        <!--kaminariで１０件表示 -->
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
