<div class="container">
  <div class="row">
    <div class="col-md-11">
      <!--ユーザー一覧を表示-->
      <h1><%= @user.nickname %>さんのユーザー詳細</h1>
      <% if @user.id == current_user.id %>
        <%= link_to 'マイページを編集する', edit_user_path(@user), class: "btn btn-sm btn-success edit_user_#{@user.id}" %>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿数</th>
            <th>フォロー</th>
            <th>フォロワー数</th>
            <th>ユーザーレシピ投稿一覧</th>
          </thead>
          <tbody>
          <!--ユーザー情報を表示-->
            <tr>
              <td><%= @user.nickname %></td>
              <td><%= @user.recipes.count %></td>
              <td></td>
              <td></td>
              <td><%= link_to 'レシピ投稿一覧', recipes_path, class: "btn btn-sm btn btn-outline-primary" %></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
      <h4><%= @user.nickname %>のレシピ一覧</h4>
      <table class="table border border-dark">
        <thead>
          <tr>
            <th>レシピ写真</th>
            <th>レシピ説明</th>
            <th>レシピ材料</th>
            <th>レシピ詳細リンク</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%= link_to recipe_path(recipe.id) do %>
                  <%= attachment_image_tag recipe, :image, :fill, 150, 150 %>
                <% end %>
                <p><%= link_to recipe.name, recipe_path(recipe.id), class: "btn btn-sm btn btn-outline-primary" %></p>
              </td>
              <td><%= recipe.description %></td>
              <td><%= recipe.ingredients %></td>
              <td><%= link_to 'レシピ詳細', recipe_path(recipe), class: "btn btn-sm btn btn-outline-primary recipe_#{recipe.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <!--kaminariで5件表示 -->
        <%#= paginate @recipes %>
      </div>
  </div>
</div>