<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-11 offset-md-1">
      <!--ユーザー一覧を表示-->
      <h2><%= @user.nickname %>さんのユーザー詳細</h2>
      <% if @user.id == current_user.id %>
        <%= link_to 'マイページを編集する', edit_user_path(@user) %>
      <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿数</th>
            <th>フォロー</th>
            <th>フォロワー数</th>
            <th>ユーザーレシピ投稿一覧</th>
          </thead>
          <tbody>
          <!--ユーザー情報を表示-->
            <tr>
              <td><%= @user.nickname %></td>
              <td><%= @user.recipes.count %></td>
              <td></td>
              <td></td>
              <td><%= link_to 'レシピ投稿一覧', recipes_path %></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
