<% if @model == 'user' %>
    <h3>ユーザー"<%= @content %>"さんで検索(全<%= @users.count %>人)</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'recipe' %>
    <h3>レシピ"<%= @content %>で検索"(全<%= @recipes.count %>件)</h3>
  <%= render 'recipes/index', recipes: @records %>
<% end %>